<div class="card-group mt-5">
    <div class="card">
        <img src="\picture\wall1.jpg" class="img-thumbnail" alt="Portrait Photo" style="max-height:500px; max-width: 700px;"></img>
        <div class="card-body">
            <h5 class="card-title">Social Media</h5>
            <p class="card-text text-primary">This is my personal media. Contact for fun!</p>

            <a href="https://www.facebook.com/congphuc.huynh.1/" class="btn btn-primary" target="_blank">Facebook</a>
            <span><a href="https://www.linkedin.com/in/phuc-huynh-47ab1911b/" class="btn btn-danger" target="_blank">LinkedIn</a></span>
            <span><a href="https://t.me/phuchuynh247" class="btn btn-info" target="_blank">Telegram</a></span>
        </div>
    </div>
    <div class="card">
        <img src="\picture\wall2.jpg" class="img-thumbnail" alt="Portrait Photo" style="max-height:500px; max-width: 700px;"></img>
        <div class="card-body">
            <h5 class="card-title">Github</h5>
            <p class="card-text text-danger">Love my Page's format? My github. Welcome!</p>
            <a href="https://github.com/huynhcongphuc/" class="btn btn-danger" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="card">
        <img src="\picture\wall3.jpg" class="img-thumbnail" alt="Portrait Photo" style="max-height:500px; max-width: 700px;"></img>
        <div class="card-body">
            <h5 class="card-title">Learn forever!</h5>
            <p class="card-text text-success">Coffee!!!!!! Let's share our knowledges...</p>
            <a class="btn btn-success" href="mailto:phuchuynh247@gmail.com" target="_blank">Email me!</a>
        </div>
    </div>
</div>