<div id="navtop" class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a id="slogan" href="#" class="navbar-brand ms-2">
            <span class="fw-bold text-secondary" style="font-style: italic;">Never stop learning</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-2" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="porfolio" class="nav-link text-success navhover" href="#">PORFOLIO</a>
                </li>
                <li class="nav-item">
                    <a id="savingurl" class="nav-link text-success navhover" href="#">GOOD-URL</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown" style="padding-top: 1%">
                        <button class="btn text-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span
                                class="navhoverdropdown">PRODUCTS</span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item text-secondary" href="../React_todolist" target="_blank"></a>
                                <a class="dropdown-item text-secondary" href="http://hcmcldc.somee.com/" target="_blank">HCMC LDC report</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>